/* select  下拉框样式 */

.el-input__inner {
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    border-color: #d4d6db;
}

.el-input__prefix,
.el-input__suffix {
    // top: 4px;
}

.el-input__icon {
    line-height: 30px;
}

.el-select-dropdown__item.selected {
    color: #333; // font-weight: 700;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background-color: #33ABFB;
    color: #fff;
}

.el-select .el-input .el-select__caret {
    color: #333;
}

.el-select .el-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus {
    // border-color: #d4d6db;
}

/* 按钮 */

.el-button {
    padding: 7px 16px;
    border-radius: 2px;
}

.el-button--primary {
    background: #33ABFB;
}

/* card  padding边距 */

.el-card__body {
    padding: 18px 20px 10px 20px;
}

/* 表格 */

.el-table th>.cell {
    color: #666;
}
 .el-pagination .btn-prev .el-icon{
    position: relative;
    left: 4px;
    color: #666;
}
.el-pagination .btn-next .el-icon{
    position: relative;
    left: -2px;
    color: #666;
}
.el-pagination__jump{
    color: #333;

}
/*溢出省略号 */
.el-tooltip{
    P{
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
// .el-table_1_column_3, .is-center {
//     color: #333;
//     font-size: 14px;
// }

/* 宽 */
.el-message-box{
    width: 430px;;
    padding: 17px 32px 24px 32px;
}
.el-message-box__title{
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #333333;
}
.el-message-box__status{
    top: -25px;
}
.el-message-box__message p{
    padding-left: 0px;
    font-size: 14px;
    color: #666;
}
.el-message-box__content{
    padding: 0;
}
.el-message-box__status+.el-message-box__message{
    padding-right: 0;
}
.el-message-box__btns{
    padding-top: 24px;
}