// // 覆盖样式 - 覆盖UI框架中的样式
.ivu-layout {
    background: transparent !important;
}

.headerSearchInputBox {
    .ivu-input {
        padding-left: 28px;
    }
}

/*环形组件里面的字体样式设置*/

// /* card 公共样式*/
.ivu-card,
.ivu-card-bordered {
    // background: #1C2851;
    background-color: rgba(39, 97, 195, 0.09);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.40);
    border: 1px solid #1a5182;
}

.ivu-card-bordered {
    border: none;
}

.ivu-card-body {
    padding: 15px;
}

.ivu-tabs {
    overflow: inherit;
}

.ivu-tabs-bar {
    border-bottom: none;
}

/* aside侧边栏样式 */
/* 菜单MENU */

.ivu-menu-horizontal,
.ivu-menu-light {
    background: transparent;
}


.ivu-menu-horizontal {
    height: 40px;
    line-height: 40px;
}
.ivu-menu-vertical .ivu-menu-item,
.ivu-menu-vertical .ivu-menu-submenu-title,
    {
    padding: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 16px;
    box-sizing: border-box;
}

.ivu-menu-vertical .ivu-menu-submenu-title-icon {
    top: 20px;
    right: 15px;
}
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item,
    {
    color: rgba(255, 255, 255, 0.85)
}

.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
    color: #00ffe7;
    border-bottom: 2px solid #00ffe7;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
    background: #363e4f!important;
}

.ivu-menu-light:after,{
    background: rgba(255, 255, 255, 0.2)!important
}
/* tabs切换 */

.ivu-tabs-nav .ivu-tabs-tab {
    padding: 8px 0;
    font-size: 16px;
}

.ivu-tabs-bar {
    color: rgba(255, 255, 255, 0.85);
    position: relative;
}

.ivu-tabs-tab:hover,
.ivu-tabs-tab-active,
.ivu-tabs-tab-focused {
    color: #2d8cf0;
}

.ivu-tabs-ink-bar {
    background-color: #2d8cf0;
}

/* 领导驾驶舱进度条颜色 */

// .leaderCockpit,
// .assetWarning {
.ivu-radio-group-button .ivu-radio-wrapper-checked {
    background: transparent;
}

.ivu-radio-group-button .ivu-radio-wrapper {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.ivu-radio-group-button .ivu-radio-wrapper {
    color: rgba(255, 255, 255, 0.45);
}

.ivu-progress-inner {
    background-color: rgba(11, 21, 57, 0.65);
}
.ivu-progress-normal {
    .ivu-progress-inner {
        background-color: #1d3461!important;
    }
}
.ivu-progress-wrong {
    .ivu-progress-inner {
        background-color: #893323!important;
    }
}
.ivu-progress-success {
    .ivu-progress-inner {
        background-color: #0b3c37!important;
    }
}
.ivu-progress-bg{
    background-image: linear-gradient(90deg, 
    #10c4ff 0%, 
    #3259ff 100%)!important; 
}
.ivu-progress-success .ivu-progress-bg {
    background-image: linear-gradient(90deg, 
		#14cede 0%, 
		#30ffda 100%)!important;
}

.ivu-progress-wrong .ivu-progress-bg {
    // background-color: #c48726!important;
    background-image: linear-gradient(90deg, 
		#ca5d55 0%, 
		#d56c59 100%)!important;
}

/* 下拉选择 --- start */

.ivu-dropdown-item:hover {
    background: rgba(0, 0, 0, 0.15)!important;
}

/* 下拉选择 --- end */

/* select配色 -- start */

.ivu-select-selection {
    border-radius: 15px;
    background: #1C2851!important;
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.ivu-select-dropdown {
    background: #1C2851!important;
}

.ivu-select-single .ivu-select-selection {
    height: 27px;
    .ivu-select-placeholder,
    .ivu-select-selected-value {
        line-height: 25px;
        height: 25px;
    }
    .ivu-select-selected-value {
        color: rgba(255, 255, 255, 0.85);
    }
}

.ivu-select-item {
    color: rgba(255, 255, 255, 0.85);
}

.ivu-select-item-focus {
    background: rgba(0, 0, 0, 0.15);
}

.ivu-select-item-selected,
.ivu-select-item-selected:hover {
    color: #2d8cf0;
}

.ivu-select-item:hover {
    background: rgba(0, 0, 0, 0.15);
}

.ivu-select-item {
    color: rgba(255, 255, 255, 0.85);
}

.ivu-select-item-focus {
    background: rgba(0, 0, 0, 0.10);
}

.ivu-select-item-selected,
.ivu-select-item-selected:hover {
    color: #2d8cf0;
}

.ivu-select-item:hover {
    background: rgba(0, 0, 0, 0.10);
}

/* 单选框设置 */

.ivu-radio-group-button .ivu-radio-wrapper:before,
.ivu-radio-group-button .ivu-radio-wrapper:after {
    background: transparent;
}

.ivu-radio-group-button .ivu-radio-wrapper-checked {
    color: #2d8cf0!important;
    border-color: #2d8cf0!important;
}



/* select配色 -- end */

// }
.home {
    .userInfo-wrapper {
        .ivu-select-dropdown {
            background-color: #1C2851;
        }
        .ivu-dropdown-item {
            color: rgba(255, 255, 255, 0.85);
            font-size: 14px!important;
        }
        .ivu-dropdown-item:hover {
            color: rgba(255, 255, 255, 1);
            background: rgba(0, 0, 0, 0.15);
        }
    }
    .layout-header-bar {
        .ivu-input-default {
            padding-left: 30px;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.45); // border-radius: 11.5px;
        }
    }
}

/* 表格样式 */

.el-table__body tr:hover>td {
    background-color: #1a2247!important;
}

.el-input__inner {
    border: solid 1px rgba(255, 255, 255, .45)!important;
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .45)!important
}

.el-button--mini,
.el-button--small {
    font-size: 14px!important;
}

.el-button--text {
    color: #00ffe7!important
}

.el-loading-mask {
    background-color: #182142!important;
}

.el-select-dropdown,
.el-popper {
    background: #1C2851!important;
    border: solid 1px #1C2851!important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4)!important;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background: #1a2247!important
}


.nomaltable .has-gutter {
    background: transparent!important;
    background-image: linear-gradient(-180deg, rgba(5, 69, 135, 0.5) 0%, rgba(4, 96, 191, 0.5) 100%)!important;
}
.el-table__body tr:hover>td {
    background: transparent!important;
    background-image: linear-gradient(-180deg, rgba(5, 69, 135, 0.5) 0%, rgba(4, 96, 191, 0.5) 100%)!important;
}

/* loading动画 */

.ivu-spin-fix {
    background-color: #1C2851;
    opacity: 0.9;
}

.demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
    display: block;
    i {
        font-size: 50px;
    }
}

@keyframes ani-demo-spin {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.demo-spin-col {
    height: 100px;
    position: relative;
    border: 1px solid #eee;
}


/* 面包屑 */

.ivu-breadcrumb {
    >span:last-child {
        .ivu-breadcrumb-item-link {
            color: #00ffe7;
        }
    }
}

.ivu-breadcrumb a {
    color: rgba(255, 255, 255, 0.85);
}
.ivu-breadcrumb-item-link:hover {
    color: #00ffe7!important;
    a:hover,span:hover {
        color: #00ffe7!important;
    }
}

/* 后台维护 */

.ivu-table:after,
.ivu-table:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    z-index: 3;
}

.ivu-table {
    background: transparent;
}

.ivu-table th,
.ivu-table td,
    {
    color: rgba(255, 255, 255, 0.85);
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.ivu-table th,
.ivu-table td:hover,
    {
    background: #1a2247;
}

.ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td,
.ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-hover td,
    {
    background-color: #1a2247;
}

.ivu-table-stripe .ivu-table-body tr:nth-child(2n) td,
.ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td {
    background-color: transparent;
}

.ivu-page-item,
.ivu-page-next,
.ivu-page-prev {
    background-color: transparent;
}

.ivu-input {
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.5);
}

.ivu-btn-primary {
    color: #2d8cf0;
    background-color: transparent;
    border-color: #2d8cf0;
}

.ivu-btn-primary:hover {
    background-color: #2d8cf0;
    border-color: #2d8cf0;
}

.ivu-page-item-active {
    border-color: #2d8cf0;
}

.ivu-page-item-active:hover {
    border-color: #2d8cf0;
}

.ivu-page-item-active a,
.ivu-page-item-active:hover a {
    color: #2d8cf0;
}

.ivu-btn-error {
    color: #F85B5B;
    background-color: transparent;
    border-color: #F85B5B;
}

.ivu-btn {
    padding: 2px 8px 3px 8px;
}

.ivu-modal-content {
    background-color: #1C2851;
}

.ivu-modal-header {
    border-bottom: solid 1px rgba(255, 255, 255, 0.45);
}

.ivu-modal-footer {
    border-top: solid 1px rgba(255, 255, 255, 0.45);
}

.ivu-form .ivu-form-item-label {
    color: rgba(255, 255, 255, 0.65);
}

.ivu-input {
    color: rgba(255, 255, 255, 0.85);
}

.ivu-message-notice-content {
    background-color: #1C2851;
}

.ivu-message-notice-content span {
    color: rgba(255, 255, 255, 0.85);
}

.ivu-select-multiple .ivu-select-item-focus,
.ivu-select-multiple .ivu-select-item-selected:hover {
    background: rgba(0, 0, 0, 0.20)
}

.ivu-tag {
    background: rgba(0, 0, 0, 0.20)
}

/* 消息提醒 */

.messageReminding {
    .ivu-modal-confirm-footer {
        display: none;
    }
}

.ivu-modal-confirm-head-icon,
.ivu-modal-confirm-head-icon-success {
    display: none;
}

/* input  禁用状态 */

.ivu-input[disabled],
fieldset[disabled] .ivu-input {
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.15);
}

/* modal 弹框  */

.ivu-modal-confirm-head-title {
    color: rgba(255, 255, 255, 0.65);
    font-size: 16px;
}

.ivu-modal-confirm-body {
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    padding: 45px 0;
}

.ivu-modal-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ivu-modal {
    top: 0; // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

/* 消息提醒 */

.ivu-modal-confirm-head-icon,
.ivu-modal-confirm-head-icon-success {
    display: none;
}

/* input  禁用状态 */

.ivu-input[disabled],
fieldset[disabled] .ivu-input {
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.15);
}

.accountManagement {
    .ivu-form-item {
        margin-bottom: 30px;
    }
}

// 
.accountManagement {
    .ivu-form-item {
        margin-bottom: 30px;
    }
}

.ivu-modal-confirm-head {
    .ivu-modal-confirm-head-icon {
        display: none;
    }
    .ivu-modal-confirm-head-title {
        color: rgba(255, 255, 255, 0.85);
    }
    padding-bottom: 15px;
    border-bottom:solid 1px rgba(255, 255, 255, 0.35);
}

.ivu-modal-confirm-body {
    color: rgba(255, 255, 255, 0.85);
    .lefttext {
        float: left;
        width: 20%;
        text-align: right;
        margin-right: 10px;
    }
    .labelone {
        padding: 20px 0 0;
        textarea {
            width: 70%;
            height: 100px;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.35);
            padding: 10px;
            border-radius: 5px;
            color: rgba(255, 255, 255, 0.85);
            line-height: 24px;
        }
    }
}

.ivu-modal-confirm-footer {
    .ivu-btn-text {
        color: rgba(255, 255, 255, 0.85);
    }
    .ivu-btn:hover,
    .ivu-btn-text:hover,
    .ivu-btn-large:hover {
        background: transparent;
        border-color: #2d8cf0;
    }
}

// 专题-进度条样式覆盖
.g-green-type.ivu-progress-success .ivu-progress-bg {
    background-color: #32b773 !important;
}

.g-green-type.ivu-progress-success .ivu-progress-inner {
    background-color: #2e4c8b !important;
}

.g-yellow-type.ivu-progress-success .ivu-progress-bg {
    background-color: #c0ab30 !important;
}

.g-yellow-type.ivu-progress-success .ivu-progress-inner {
    background-color: #2e4c8b !important;
}

/*checkbox UI样式覆盖*/

.ivu-checkbox-wrapper {
    .ivu-checkbox-checked .ivu-checkbox-inner {
        background-color: #FF0000;
        border-color: #FF0000;
        box-shadow: none;
    }
    .ivu-checkbox-checked:hover .ivu-checkbox-inner {
        background: #FF0000;
        border-color: #FF0000;
        box-shadow: none;
    }
    .ivu-checkbox-inner {
        background-color: transparent;
    }
}

/*radio UI 样式覆盖*/

.ivu-radio-wrapper {
    .ivu-radio-checked .ivu-radio-inner {
        border-color: transparent;
    }
    .ivu-radio-inner:after {
        background-color: #FF0000;
        box-shadow: none;
    }
    .ivu-radio-checked:hover .ivu-radio-inner {
        border-color: transparent;
    }
}

.m-indexCascader-box,
.m-subCascader-box {
    ::-webkit-scrollbar-thumb {
        background: #2D8CF0;
    }
    ::-webkit-scrollbar {
        height: 5px;
    }
    .ivu-input-wrapper {
        .ivu-input {
            height: 24px;
            border-radius: 16px;
            padding-right: 30px;
        }
    }
    .ivu-btn {
        padding: 0px 8px;
        &>span {
            vertical-align: top;
        }
    }
}

.ivu-radio-group-button.ivu-radio-group-small .ivu-radio-wrapper {
    font-size: 14px;
}

.specialTable {
    .ivu-input {
        border-radius: 15px!important;
        height: 28px;
    }
    .ivu-input-icon {
        top: -2px;
    }
}

.ivu-date-picker-cells-year .ivu-date-picker-cells-cell-focused {
    background-color: #666;
}

/* inside详情 */

.el-table__row {
    border-top: 1px solid pink!important;
}
.ivu-date-picker{
    cursor: pointer!important;
    .ivu-input ,.ivu-input-default{
        cursor: pointer!important;
    }
}