@charset "UTF-8";
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2D8CF0;
  border-radius: 5px;
}

::-moz-scrollbar {
  width: 7px;
  height: 10px;
}

::-moz-scrollbar-track {
  background: transparent;
}

::-moz-scrollbar-thumb {
  background: #2D8CF0;
  border-radius: 5px;
}

.cur-p {
  cursor: pointer;
}

/* 小标题左侧蓝色边框 */
.titleLeftBorder {
  font-size: 16px;
  height: 15px;
  line-height: 15px;
  border-left: solid 6px #58CAFD;
  padding-left: 14px;
  margin-left: -20px;
  color: #333;
  position: relative;
}

.titleLeftBorder .right {
  font-size: 12px;
  position: absolute;
  right: 0;
}

@font-face {
  font-family: 'zhanghaishan';
  src: url("../../font-face/ZHSRXT2011-GB/zhanghaishan.ttf") format("truetype"), url("../../font-face/ZHSRXT2011-GB/zhanghaishan.woff"), url("../../font-face/ZHSRXT2011-GB/zhanghaishan.woff2"), url("../../font-face/ZHSRXT2011-GB/zhanghaishan.svg"), url("../../font-face/ZHSRXT2011-GB/zhanghaishan.eot"), url("../../font-face/ZHSRXT2011-GB/zhanghaishan.otf");
}

@font-face {
  font-family: 'xiaobozhe';
  src: url("../../font-face/HYXiaoBoZheZhiTiJ/HYXiaoBoZheZhiTiJ.ttf") format("truetype"), url("../../font-face/HYXiaoBoZheZhiTiJ/HYXiaoBoZheZhiTiJ.woff"), url("../../font-face/HYXiaoBoZheZhiTiJ/HYXiaoBoZheZhiTiJ.woff2"), url("../../font-face/HYXiaoBoZheZhiTiJ/HYXiaoBoZheZhiTiJ.svg"), url("../../font-face/HYXiaoBoZheZhiTiJ/HYXiaoBoZheZhiTiJ.eot"), url("../../font-face/HYXiaoBoZheZhiTiJ/HYXiaoBoZheZhiTiJ.otf");
}

@font-face {
  font-family: 'PangMenZhengDao';
  src: url("../../font-face/PangMenZhengDaoBiaoTiTi-1/PangMenZhengDaoBiaoTiTi-1.ttf") format("truetype"), url("../../font-face/PangMenZhengDaoBiaoTiTi-1/PangMenZhengDaoBiaoTiTi-1.woff"), url("../../font-face/PangMenZhengDaoBiaoTiTi-1/PangMenZhengDaoBiaoTiTi-1.woff2"), url("../../font-face/PangMenZhengDaoBiaoTiTi-1/PangMenZhengDaoBiaoTiTi-1.svg"), url("../../font-face/PangMenZhengDaoBiaoTiTi-1/PangMenZhengDaoBiaoTiTi-1.eot"), url("../../font-face/PangMenZhengDaoBiaoTiTi-1/PangMenZhengDaoBiaoTiTi-1.otf");
}
